:root {
  --darker: #192f32;
  --blue: #0060af;
  --white: #b0e9f3;
}

/* ===================================== 
  -----------    Grid Layout    -----------
  ======================================== */

.container {
  height: 100vh;
  color: var(--darker);
  display: block;
  font-family: "Poppins", sans-serif;
  grid-auto-rows: 80px 1fr 50px;
  grid-gap: 2px;
  grid-template-areas:
    "head"
    "main"
    "footer";
}

#head {
  padding: 3%;
  grid-area: head;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  box-shadow: 0 2px 5px -1px rgb(50 50 93 / 25%),
    0 1px 3px -1px rgb(0 0 0 / 30%);
}

.logo span {
  display: flex;
  padding: 30px;
  color: var(--darker);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 700;
}

#main {
  grid-area: main;
}

#footer {
  background-color: var(--blue);
  justify-content: center;
  bottom: 0;
  width: 100%;
  position: fixed;
  grid-area: footer;
  box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.5), 2px 5px 16px 0px #0b325e,
    inset -1px 3px 8px 5px #1f87ff;
}

.App {
  text-align: center;
}

/* =====================================
  -----------  Input    -----------
  ======================================== */
input[type="text"] {
  width: 100%;
  padding: 0.4rem 0.6rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 50vw;
  background-color: #ffb9ed;
  color: var(--darker);
}

input:focus {
  outline-color: deeppink;
}

/* =====================================
  -----------  Header    -----------
  ======================================== */

/* =====================================
  -----------  content    -----------
  ======================================== */
.details {
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listContainer {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
  transition: 0.3s all;
}

.list-item {
  font-size: 0.6rem;
  color: #f1f1f1;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  position: relative;
}
.list-item-img {
  cursor: pointer;
  border: 1px solid #000007;
  border-radius: 10px;
  width: 220px;
  height: 250px;
  box-shadow: 5px 5px 14px 5px rgba(0, 0, 0, 0.7);
}
.list-item-det {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30%;
  color: #000000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5%;
  background-color: #ffffff;
  opacity: 0.45;
  font-weight: bold;
}
.list-item-name {
  margin: 0.5%;
  font-size: initial;
}
.nav-link {
  border: 1in, black;
}
* *::before *::after {
  box-sizing: border-box;
}
